#muze {

  background-color: #d8d7cb;
  border-radius: 7px;
  width: 600px;
  margin-left: 45px;
  width: 25%;
  min-height: 100px;
  overflow: hidden;
  padding: 15px;
  margin-left: -10px;
  margin-right: 40px;
}

#t1 {

text-align: center;
float: top;

}

#p1 {

text-align: center;

}



.yazi {

  display: flex;
  flex-direction: row;
  margin-top: 35px;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: -42px;
  padding-bottom: 40px;
  min-height: 100px;
  overflow: hidden;




}

#mzimg {


  width: 35%;
  min-height: 100px;


}




#oyun {

  background-color: #d8d7cb;
  border-radius: 7px;
  width: 600px;
  width: 25%;
  margin-right: 50px;
  min-height: 100px;
  overflow: hidden;
  padding: 15px;
  margin-left: 40px;
  margin-right: -10px;



}

#t2 {

  text-align: center;
  float: top;


}

#p2 {

text-align: center;

}



#bas {
  text-align: center;
  font-size: 500%;
  margin-top: -5px;
}

.muzeall {
  background-color: #ced7e5;
  height: 580px;
  padding-top: 30px;
  min-height: 100px;
  overflow: hidden;
}
